.button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botaoBanner {
  height: 36px;
  width: 144px;
  border-radius: 9px;
}

.botaoProduto {
  height: 30px;
  width: 90px;
  border-radius: 7.5px;
  font-size: 0.9rem;
}

.botaoModal {
  padding: 7px 40px;
  border-radius: 7.5px;
  font-size: 0.9rem;
  font-weight: 600;
}

.botaoConfirmar {
  padding: 13px 50px;
  border-radius: 9px;
  font-size: 0.9rem;
  font-weight: 600;
}

.botaoNegar {
  padding: 13px 35px;
  border-radius: 9px;
  font-size: 0.9rem;
  font-weight: 600;
}

.botaoBannerPainel {
  border-radius: 9px;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 10px;
  margin: 8px 0;
  width: 100%;
}

.botaoCardFeira {
  border-radius: 9px;
  padding: 10px;
}

.botaoBannerProdutor {
  border-radius: 9px;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 10px;
  margin: 8px 0;
  width: 260px;
}

.botaoOpcao {
  padding: 5px;
  border-radius: 7.5px;
}

.botaoOpcao span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.botaoLogin {
  border-radius: 9px;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 10px;
  margin: 30px 0;
  width: 200px;
}

.botaoFinalizar {
  padding: 7px;
  border-radius: 7px;
}

.iconeCarregamento {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
}

.botaoEnviarImagem {
  height: 35px;
  width: 170px;
  border-radius: 8.75px;
  font-size: 0.9rem;
  margin: 15px 0;
}

@media (max-width: 940px) {
  .botaoProduto {
    height: 24px;
    width: 80px;
    border-radius: 6px;
    font-size: 0.8rem;
  }
}

@media (max-width: 670px) {
  .botaoProduto {
    height: 18px;
    width: 60px;
    font-size: 0.5rem;
    border-radius: 4.5px;
  }

  .botaoBannerPainel {
    height: 32px;
    width: 180px;
    font-size: 0.7rem;
    border-radius: 9px;
  }

  .botaoOpcao {
    padding: 3px;
    border-radius: 5px;
  }

  .botaoOpcao span {
    width: 16px;
    height: 16px;
  }

  .botaoCardFeira {
    height: 32px;
    width: 140px;
    font-size: 0.7rem;
    border-radius: 9px;
  }
}

@media (max-width: 560px) {
  .botaoBanner {
    height: 32px;
    width: 128px;
    font-size: 0.8rem;
    border-radius: 8px;
  }
  .botaoProduto {
    height: 24px;
    width: 80px;
    border-radius: 6px;
    font-size: 0.8rem;
  }
  .botaoBannerPainel {
    height: 28px;
    width: 160px;
    font-size: 0.6rem;
    border-radius: 7px;
    margin: 5px 0;
  }
}

@media (max-width: 450px) {
  .botaoBanner {
    height: 28px;
    width: 112px;
    font-size: 0.7rem;
    border-radius: 7px;
  }
  .botaoProduto {
    height: 24px;
    width: 100%;
    font-size: 0.7rem;
    border-radius: 4.5px;
    align-items: center;
  }
  .botaoCardFeira {
    height: 24px;
    width: 120px;
    font-size: 0.6rem;
    border-radius: 6px;
    margin: 5px 0;
    padding: 0;
  }
  .botaoLogin {
    font-size: 0.8rem;
  }

  .botaoConfirmar {
    height: 35px;
    font-size: 0.8rem;
    border-radius: 4.5px;
  }
  .botaoNegar {
    height: 35px;
    font-size: 0.8rem;
    border-radius: 5px;
  }
}

@media (max-width: 400px) {
  .botaoBanner {
    height: 24px;
    width: 96px;
    font-size: 0.6rem;
    border-radius: 6px;
  }
}

@media (max-width: 360px) {
  .botaoProduto {
    height: 21px;
    font-size: 0.6rem;
    border-radius: 4.5px;
  }
  .botaoCardFeira {
    width: 100px;
  }
  .botaoConfirmar {
    height: 25px;
    font-size: 0.7rem;
    border-radius: 4.5px;
  }
  .botaoNegar {
    height: 25px;
    font-size: 0.7rem;
    border-radius: 5px;
  }
}

