.cardPedido {
  width: 700px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 15px;
}

.infoPedido {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 30px 50px auto 1fr;
  justify-items: stretch;
}

.expandeContainer {
  height: fit-content;
}

.cardPedido h3 {
  color: #000;
  font-size: 1.2rem;
}

.pedido {
  grid-row-start: 1;
  display: flex;
  align-items: center;
}

.iconeExclamacao {
  background-color: #72B234;
  color: #FFF;
  border-radius: 10px;
  margin: 2px 30px 0 0;
}

.icones {
  grid-row-start: 1;
  display: flex;
  color: #FA8001;
  font-weight: 600;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 0.9rem;
}

.icones .icone {
  margin-right: 10px;
  margin-top: 5px;
}

.dadosComprador p {
  margin: 5px 0;
  color: #A5A5A5;
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 15%;
}

.verMais {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.verMais p {
  cursor: pointer;
  color: #A5A5A5;
  font-size: 0.8rem;
  margin-top: 6px;
}

.iconeSeta {
  cursor: pointer;
  color: #72B234;
  font-size: 1.9rem;
  font-weight: 600;
}

.tabelas {
  display: flex;
  max-height: 0;
  flex-direction: column;
  overflow: hidden;
}

.cardExpandido .tabelas {
  max-height: 10000px;
  animation-name: expand;
  animation-duration: 4s;
}

 @keyframes expand {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 10000px;
  }
}


@media (max-width: 720px) {
  .cardPedido{
    width: 600px;
  }
  .infoPedido {
    justify-content: space-between;
    grid-template-columns: 300px 150px;
  }
  .icones{
    height: fit-content;
    flex-direction: column;
  }
}

@media (max-width: 610px) {
  .cardPedido{
    width: 500px;
  }
}

@media (max-width: 510px) {
  .cardPedido{
    width: 450px;
    padding: 5px;
  }

}

@media (max-width: 460px) {
  .cardPedido{
    width: 400px;
  }
  .infoPedido {
    grid-template-columns: 250px 120px;
  }
  .cardPedido h3{
    font-size: 1em;
  }
  .icones{
    font-size: 0.7em;
  }
  .icone{
    font-size: 1em;
  }
  .dadosComprador p{
    font-size: 0.8em;
  }
}

@media (max-width: 400px) {
  .cardPedido{
    width: 320px;
  }
  .infoPedido {
    grid-template-columns: 200px 100px;
  }
  .cardPedido h3{
    font-size: 0.8em;
  }
  .dadosComprador p{
    font-size: 0.6em;
  }
}


