.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.informacoes {
  display: flex;
  width: 66%;
  justify-content: space-between;
  align-items: flex-start;
}
.logo img {
  height: 80px;
}
.contato {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contato h3 {
  color: #72b234;
  font-size: 20px;
  font-weight: 600;
}
.contato div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}
.redessociais {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.divLinha{
height: 1.5px;
background-color: #72b234;
}
.redessociais h3 {
  color: #72b234;
  font-size: 20px;
  font-weight: 600;
}
.redessociais div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}
.redessociais div a {
  text-decoration: none;
  color: #000;
}
.copyright {
  display: flex;
  justify-content: center;
  color: #a5a5a5;
  padding: 10px 0;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  border-top: 2px solid #ddd;
}

@media (max-width: 940px) {
  .container {
    padding: 20px;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .informacoes {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .contato h3 {
    font-size: 1rem;
  }
  .redessociais h3 {
    font-size: 1rem;
  }
  .informacoes {
    font-size: 0.8rem;
  }
  .redessociais {
    font-size: 0.8rem;
  }
  .copyright {
    font-size: 0.8rem;
  }
  .logo img {
    height: 60px;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 10px;
    padding-bottom: 0;
  }
  .conteudo {
    flex-direction: column;
    gap: 15px;
  }
  .informacoes {
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    gap: 15px;
  }
  .contato {
    width: 100%;
  }
  .redessociais {
    width: 100%;
  }
  .informacoes h3 {
    text-align: center;
  }
}
