@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.body{
    overflow-x: hidden;
  background-color: #f5f5f5;

}

.painelAdmin {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.banner {
    display: flex;
    width: 60%;
    border: 0px solid rgba(0, 0, 0, 0.04);
    box-shadow: 2px 5px 23px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    margin-top: 100px;
}

.banner img {
    width: 280px;
    border-radius: 6px 0 0 6px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.conteudo h1 {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.conteudo p {
    color: #A5A5A5;
    font-weight: 600;
    margin: 10px;
}

.botoes {
    display: flex;
    flex-direction: column;
}

.divFeira{
  background-color: #f5f5f5;
}

.sectionFeira{
    margin: 0 auto;
    width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.sectionFeira h1 {
    color: #72B234;
    font-size: 35px;
}

.divCard{
    display: flex;
    width: 700px;
    height: 20vh;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    border-radius: 10px;
    
}

.divCard h4 {
    font-size: 30px;
}

.divCard div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 30px;
}

.esquerdaCard p{
    color: #FA8001;
    font-weight: 700;
    font-size: 18px;
}

.direitaCard p{
    font-weight: 700;
}

.centralizar, .aberta, .fechado{
    display: flex;
    align-items: center;
    gap: 5px;
}

.aberta{
    color: #72B234;
}

.fechado{
    color: #FF3D3D;
}