@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.divFeira{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f5f5f5;
}

.botaoSwitch{
    display: flex;
    align-items: center;
}

.botaoSwitch p{
    color: #FA8001;
}

.sectionFeira{
    padding-top: 15px;
    width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.sectionFeira h1 {
    color: #72B234;
    font-size: 35px;
}

@media (max-width: 1024px) {
   .sectionFeira{
        width: 740px;
    }
  }

  @media (max-width: 768px) {
    .sectionFeira{
        width: 640px;
    }

    .sectionFeira h1{
        margin: 5px;
        font-size: 1.6rem;
    }
  }

  @media (max-width: 670px) {
    .sectionFeira{
        width: 540px;
    }
  }

  @media (max-width: 560px) {
   .sectionFeira{
        width: 430px;
    }
    .sectionFeira{
        gap: 8px;
    }

  }

  @media (max-width: 450px) {
    .sectionFeira{
        width: 90%;
    }
    .sectionFeira h1{
        font-size: 1.2em;
    }
  }