.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.botaoSwitch{
    display: flex;
    align-items: center;
}

.botaoSwitch p{
    color: #FA8001;
}

.divMedida{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}