.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.botaoSwitch{
    display: flex;
    align-items: center;
}

.botaoSwitch p{
    color: #FA8001;
}

.divMedida{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 1440px) {
    .botaoSwitch{
        width: 230px;
    }
}

@media (max-width: 670px) {
    .botaoSwitch{
        width: 220px;
    }
}

@media (max-width: 560px) {
    .botaoSwitch{
        width: 190px;
    }
}